:root{
    --bg: wheat;
}

.footer-container{
    max-width: 100%;
    padding: 20px 100px;
    background-size: contain;
    background-position: center center;
    background-color: var(--bg);
    display: flex;
    gap: 4rem;
    justify-content: space-around;
    color: white;
    font-size: 15px;
}

.links-list{
    list-style: none;
    background-color: var(--bg);
}

.links-list li{
    padding: 5px 0;
}

.footer-title{
    margin: 25px 0;
    font-size: 20px;
    font-weight: 900;
    background-color: transparent;
}

.normal-p{
    margin: 25px 0;
    background-color: transparent;
}

.quick-links{
    width: 20%;
    background-color: var(--bg);
}

.newsletter{
    width: 15%;
    background-color: var(--bg);
}

.contact-us{
    width: 30%;
    background-color: var(--bg);
}

.input-container {
    display: flex;
    width: 100%;
    margin: 20px 0;
    color: black;
    border: 2px solid var(--bg);
    background-color: var(--bg);
    overflow: hidden;
    border-radius: 10px;
  }
  
  .input-field {
    /* width: calc(100% - 40px);  */
    width: 100%;
    padding: 10px;
    font-size: medium;
    background-color: var(--bg);
    border: none;
    color: white;
  }
  
  .input-button {
    width: 40px; /* Adjust button width */
    height: 100%;
    padding: 10px;
    border: none;
    background-color: transparent; /* Button background color */
    color: white;
    border-radius: 0 10px 10px 0; /* Rounded corners */
    cursor: pointer;
    font-size: medium;
  }


  /* From Uiverse.io by david-mohseni */ 
.wrapper {
  display: inline-flex;
  list-style: none;
  height: 120px;
  width: 100%;
  padding-top: 40px;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  background-color: wheat;
}

.wrapper .icon {
  position: relative;
  padding: 10px;
  background: #fff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1da1f2;
  color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #fff;
}

  

@media screen and (width<= 700px) {
   .footer-container{
    display: block;
    padding: 20px;
   } 

   .quick-links{
    width: 80%;
    margin: 20px;
    }

    .newsletter{
    width: 80%;
    margin: 20px;
    }

    .contact-us{
    width: 80%;
    margin: 20px;
    }

    .input-container{
     width: 60%;
    }

    .input-field{
    width: 100%;
    }
}