/* Reset some default styles */
body, html, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
  }
  
  /* Header and navigation styles */
.nav-container {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



  .sidebar2{
    margin-block-start: 0;
    margin-block-end: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80vw;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
    z-index: 999;
  }

  .open {
    transform: translateX(0);
    margin-block-start: 0;
    margin-block-end: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80vw;
    transition: transform 0.5s ease-in-out;
    z-index: 999;
  }


  .close-btn{
    all:unset;
    color: black;
    margin: 50px 0 20px 30px;
    font-size: 22px;
  }

  .link-list{
    list-style: none;
    display: flex;
    gap: 2rem;
    background-color: transparent;

  }

  .link-list a{
    background-color: transparent;
  }

  .nav-image{
    background-image: url('../assets/nav.png'); /* Replace with your image URL */
  background-size: cover; /* Adjusts the image to cover the entire element */
  background-position: top; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  /* Optionally add a fallback background color */
  }

  .nav-image img{
    width: 80px;
    display: block;
    margin-left: 20px;
    margin-top: 5px;
  }

  .nav-lists{
    line-height: 60px;
    letter-spacing: 5px;
    margin: 0 30px;
    list-style: none;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 22px;
  }

  .nav-lists, li{
    background-color: transparent;
  }

  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sideimage{
    margin-left: 20px;
  }

  .logo{
    display: flex;
    padding: 5px 20px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }

  .logo img{
    display: block;
    margin: auto;
  }

  .logo-name{
    padding: 20px 0 0 0;
    font-size: 16px;
    background-color: transparent;
  }
  
  
  .cart-icon {
    font-size: 20px;
    margin-right: 20px;
    background-color: transparent;

  }

  .input-container2 {
    display: flex;
    width: 250px;
    margin: 20px 0;
    color: black;
    gap: 2px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.32) 0px 3px 3px, rgba(0, 0, 0, 0.23) 0px 3px 3px;
    overflow: hidden;
    border-radius: 5px;
  }
  
  .input-field2 {
    /* width: calc(100% - 40px);  */
    width: 90%;
    font-size: medium;
    outline: none;
    border: none;
    color: black;
  }
  
  .input-button2 {
    width: 20px;
    height: 100%;
    border: none;
    outline: none;
    padding: 0;
    background-color: transparent; /* Button background color */
    color: white;
    border-radius: 0 10px 10px 0; /* Rounded corners */
    cursor: pointer;
    font-size: medium;
  }

  .input-button2 img{
    padding: 0;
  }
  
  .addtocart {
    display: inline-block;
    vertical-align: middle;
    margin: 0 35px;
  }
  
  .navbar div {
    display: inline-block;
    vertical-align: middle;
  }

  .kashmiri-kesar-product-container{
    padding: 20px;
  }

  .kashmiri-kesar-product-container img{
    display: block;
    width: 100%;
  }

  .product-type{
    font-size: 12px;
    color: grey;
    font-weight: bold;
  }

  .compare-price{
    color: grey;
    text-decoration: line-through;
  }

  .rupee-symbol{
    font-size: 20px;
    font-weight: bold;
  }

  .add-button{
    outline: none;
    background: none;
    box-shadow: none;
    border-radius: 2px;
    padding: 10px;
    font-size: 16px;
    margin: 10px 0;
    font: inherit;
    color: inherit;
    width: 100%;
    border: 1px solid black;
    background-color: white;
  }

  .qty-button{
    background-color: white;
    padding: 0;
  }

  .qty-container{
    font-size: 20px;
    font-weight: lighter;
    width: 50%;
    border: 1px solid black;
    display: flex;
    padding: 8px;
    margin: 10px 0;
    justify-content: space-around;
  }

  .heading{
    font-size: 25px;
    padding: 0 20px;
    border: none;
  }


  .buy-button2{
    outline: none;
    background: none;
    box-shadow: none;
    padding: 10px;
    font-size: 16px;
    margin: 0;
    font: inherit;
    color: inherit;
    width: 100%;
    border-radius: 2px;
    color: white;
    background-color: black;
  }

  .product-card-price-container{
    font-size: 14px;
    display: flex;
    width: 100%;
  }

  @media screen and (width > 700px) {
    .kashmiri-kesar-product-container{
      display: flex;
      width: 70%;
      justify-content: space-around;
      margin: auto;
    }

    .kashmiri-kesar-product-container img{
      margin: 0;
      width: 50%;
    }

    .detail-container{
      width: 300px;
    }

    .product-card-price-container{
      font-size: 16px;
    }

    .sidebar2 , .open{
      width: 40vw;
    }

    .logo-name{
      font-size: 20px;
      padding: 0;
    }

    .cart-icon{
      margin: 0;
    }
  }